<ion-header>
  <ion-toolbar>
    <ion-title>Animales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreate()">Nuevo Animal</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (userAnimalsResource.status() === 'loading') {
  <ion-spinner></ion-spinner>
  <div>Cargando animales del usuario...</div>
  }
  @if (userAnimalsResource.status() === 'error') {
  <ion-text color="danger">
    Error al cargar animales del usuario.
  </ion-text>
  <ion-button expand="block" (click)="reload()">
    Reintentar
  </ion-button>
  }
  @if (userAnimalsResource.status() === 'resolved') {
  @if ((userAnimalsResource.value() ?? []).length === 0) {
  <div class="ion-padding">
    No hay animales registrados para este usuario.
  </div>
  }
  <ion-title>Animales del usuario {{userId()}}</ion-title>
  <ion-list>
    @for (userAnimal of userAnimalsResource.value() ?? []; track userAnimal.id)
    {
    <ion-row>
      <ion-col>Raza: {{ userAnimal.breed }}</ion-col>
      <ion-col>Fecha de Nacimiento: {{ userAnimal.birth_date }}</ion-col>
      <ion-col>Dueño: {{ userAnimal.owner_id }}</ion-col>
      <ion-col>Predio: {{ userAnimal.land_id }}</ion-col>
      <ion-col>Estado: {{ userAnimal.status }}</ion-col>
      <ion-col>
        <ion-button (click)="goToSpecificAnimal(userAnimal)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    }
  </ion-list>
  }
</ion-content>