<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/land/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles Predio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(land()) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ land()?.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Latitud:</strong> {{ land()?.latitude }}</p>
        <p><strong>Longitud:</strong> {{ land()?.longitude }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="goEdit()">Editar</ion-button>
    <ion-button expand="block" color="danger" (click)="confirmDelete()">Eliminar</ion-button>
  }
  @if (!land()) {
    <p>Cargando detalles...</p>
  }
</ion-content>
