.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin-left: 16px;
  margin-top: 4px;
}

.form-actions {
  margin-top: 24px;

  ion-button {
    margin-bottom: 8px;
  }
}

ion-item.ion-invalid {
  --border-color: var(--ion-color-danger);
}

@media (min-width: 768px) {
  .form-actions {
    display: flex;
    gap: 16px;
    flex-direction: row-reverse;

    ion-button {
      margin-bottom: 0;
      flex: 1;
    }
  }
}
