<ion-header>
      <ion-toolbar>
        <ion-title>Gestionar Caravanas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        @for (tag of allTags(); track tag.id) {
          <ion-item>
            <ion-label>
              {{ tag.tag_number }} ({{ tag.status }})
            </ion-label>
            @if (!assignedTagIds().has(tag.id)) {
              <ion-button color="primary" (click)="assignTag(tag.id)">
                Asignar
              </ion-button>
            } @else {
              <ion-button color="danger" (click)="unassignTag(tag.id)">
                Desasignar
              </ion-button>
            }
          </ion-item>
        }
      </ion-list>
    </ion-content>