<ion-header>
  <ion-toolbar>
    <ion-title>Animales</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/animals/create']">Nuevo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for(animal of animals(); track animal.id) {
    <ion-item>
      <ion-label>{{ animal.name }}</ion-label>
      <ion-button slot="end" fill="clear" [routerLink]="['/animal', animal.id]"
        >Ver</ion-button
      >
      <ion-button
        slot="end"
        fill="clear"
        [routerLink]="['/animal/edit', animal.id]"
        >Editar</ion-button
      >
      <!-- <ion-button
        slot="end"
        color="danger"
        fill="clear"
        (click)="confirmDelete(animal)"
        >Eliminar</ion-button
      > -->
    </ion-item>
    }
  </ion-list>
</ion-content>
