<ion-grid class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8" size-lg="6">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h1 class="ion-text-center">Iniciar Sesión</h1>

        <!-- Error message -->
        @if (error()) {
        <div class="error-message ion-text-center">{{ error() }}</div>
        }

        <ion-item>
          <ion-input
            type="email"
            [ngModel]="email()"
            (ngModelChange)="email.set($event)"
            placeholder="Email"
            name="email"
            required
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            [ngModel]="password()"
            (ngModelChange)="password.set($event)"
            placeholder="Contraseña"
            name="password"
            required
          >
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="loading()"
          class="ion-margin-top"
        >
          @if (loading()) { Iniciando sesión... } @else { Iniciar Sesión }
        </ion-button>
        <ion-button
          expand="block"
          fill="outline"
          (click)="goToRegister()"
          [disabled]="loading()"
          class="ion-margin-top"
        >
          Registrarse
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
