<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar eliminación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>¿Seguro que deseas eliminar el predio <strong>{{ land.name }}</strong>?</p>
  <ion-button expand="block" color="danger" (click)="confirm()">Eliminar</ion-button>
  <ion-button expand="block" fill="outline" (click)="cancel()">Cancelar</ion-button>
</ion-content>
